.filter-item {
  display: flex;
  justify-content: space-between;
  padding: 7.5px;
  p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #545f7d;
    margin-right: 5px;
  }
  img {
    padding-top: 10%;
    padding-left: 2px;
    width: 10%;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 480px) {
  .filter-item {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 1%;
      display: flex;
      align-items: flex-end;
      text-transform: uppercase;
      color: #545f7d;
      padding-right: 3px;
    }
    img {
      width: 5px;
    }
  }
}
