.filter-item {
  display: flex;
  justify-content: space-between;

  padding: 7.5px;
  p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #545f7d;
  }
}
