.dashboard {
  display: grid;
  grid-template-columns: 2fr 8fr;
  .dashboard-control {
    padding-left: 25%;
    padding-right: 5%;
    padding-top: 15%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
    height: 100%;
    p {
      font-family: Work Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 14px;
      color: #545f7d;
      padding: 7.5px 0;
    }
    .customer,
    .dashboard,
    .business,
    .setting {
      display: flex;
      flex-direction: column;

      p {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #545f7d;
        padding: 7.5px 0;
      }
    }
  }
  .dashboard-info {
    padding: 2.5%;
    h2{
      padding: 2.5%;

    }

    .card-holder {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 20px;
      padding: 2.5%;
    }
    .table {
      padding: 2.5%;
      .new {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        width: 100%;
      }
      .top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .dashboard {
    display: grid;
    grid-template-columns: 1fr;
    .dashboard-control {
      padding-left: 10%;
    }
  }
}
