.dashboard {
 
  display: grid;
  grid-template-columns: 2fr 8fr;
  .dashboard-info {
    padding: 2.5%;
    h2{
      padding: 2.5%;
      font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #213F7D;

    }

    .card-holder {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 20px;
      padding: 2.5%;
    }
    .table {
      padding: 2.5%;
      .new {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        width: 100%;
      }
      .top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .dashboard {
    display: grid;
    grid-template-columns: 1fr;
    .dashboard-control{
      display: none;
    }
.dashboard-info{
  h2{
    padding: 5%;
  }
 
  .card-holder {
    display: grid;
    grid-template-columns: 160px 160px ;
    grid-gap: 10px;
    padding: 15px;
    p{
      font-size: 80%;
    }
  }
  .table{
    .new{
      // grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw;
      grid-column-gap: 2px;
  
    }
  }
}
 
  }
}
