.filter-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  width: 100%;
  padding: 10px 0;
  border: 1px solid rgba(33, 63, 125, 0.1);
  border-right: 0px;
  border-left: 0px;
}
